<html>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

    body {
      background: url(http://www.designbolts.com/wp-content/uploads/2012/09/Happy-Halloween-Little-Monsters-HD-Wallpapers1.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      font-family: 'Roboto', sans-serif;
      color: green;
    }
    div {
      margin: auto;
      text-align: center;
      width: 50%;
      border-radius: 5px;
      background-color: black;
      background-size: 50%;
      opacity: 0.8;
      padding: 20px;
      position: relative;
    }
    input[type=text] {
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 2.5px;
    }
    input[type=submit] {
      width: 25%;
      padding:5px 15px;
      background:green;
      color: white;
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 2.5px;
      font-size: 20px;
    }
    figcaption {
      text-align: center;
      font-size: 50px;
    }
  </style>


  <body>
    <div>
      <h1>SUPER AWESOME GAME NAME</h1>
      <h3>Enter your names</h3>

      <form action="/names" method="post">
        <p><b>Player 1</b><br>
        <input type="text" name="player1"/></p>
        <p><b>Player 2</b><br>
        <input type="text" name="player2"/></p>
        <br>
        <input type="submit" value="Enter game"/>
      </form>
    </div>
  </body>
</html>
