<h1>Please enter the players name</h1>

<form action="/names" method="post">
  <p>Player 1:
  <input type="text" name="name1"/></p>
  <p>Player 2:
  <input type="text" name="name2"/></p>
  <br>
  <input type="submit" value="Submit"/>
</form>
