<h1>Name 1: <%=@player1_name%></h1>
<p><%=@player1_hitpoints%>/60 HP</p>
<h1>Name 2: <%=@player2_name%></h1>
<p><%=@player2_hitpoints%>/60 HP</p>

<form action="attack">
  <input type="submit" value="Attack">
</form>
